body {
    height:100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
main {
    width: 750px;
    height: 795px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}